# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# WebStorm
*.iml

# Directory-based project format:
.idea/
.idea/workspace.xml
**/.idea/workspace.xml

# mac hidden files
.DS_Store

##other
#node_modules/
#bower_components/
.tmp
#.sass-cache
#builds/**/images/*
#*.ogg
#*.mp3
#*.mp4
#*.png
#*.jpeg
#*.psd

#image folder
#미디어는 모두 ignore됨.
media/
html/chapter04/ch04_media/apple.png
html/chapter04/ch04_media/back.png
html/chapter04/ch04_media/bacon.png
html/chapter04/ch04_media/banana1.png
html/chapter04/ch04_media/banana2.png
html/chapter04/ch04_media/BBQ1.png
html/chapter04/ch04_media/BBQ2.png
html/chapter04/ch04_media/bibimbab.png
html/chapter04/ch04_media/bread.png
html/chapter04/ch04_media/burger.png
html/chapter04/ch04_media/cake1.png
html/chapter04/ch04_media/cake2.png
html/chapter04/ch04_media/cake3.png
html/chapter04/ch04_media/cat-meme-2.gif
html/chapter04/ch04_media/catmeme3.gif
html/chapter04/ch04_media/catmeme4.gif
html/chapter04/ch04_media/cat-scream.gif
html/chapter04/ch04_media/cheese.png
html/chapter04/ch04_media/cherry.png
html/chapter04/ch04_media/chicken1.png
html/chapter04/ch04_media/chicken2.png
html/chapter04/ch04_media/chicken3.png
html/chapter04/ch04_media/chicken4.png
html/chapter04/ch04_media/chinese_food.png
html/chapter04/ch04_media/chips.png
html/chapter04/ch04_media/chocolate1.png
html/chapter04/ch04_media/chocolate2.png
html/chapter04/ch04_media/coconut.png
html/chapter04/ch04_media/coffee_hot.png
html/chapter04/ch04_media/coffee_ice.png
html/chapter04/ch04_media/cookies1.jpg
html/chapter04/ch04_media/cookies2.png
html/chapter04/ch04_media/corn.png
html/chapter04/ch04_media/crab.png
html/chapter04/ch04_media/crepes.png
html/chapter04/ch04_media/croissant.png
html/chapter04/ch04_media/curry.png
html/chapter04/ch04_media/donut.png
html/chapter04/ch04_media/dumpling1.png
html/chapter04/ch04_media/dumpling2.png
html/chapter04/ch04_media/egg1.png
html/chapter04/ch04_media/egg2.png
html/chapter04/ch04_media/fish1.png
html/chapter04/ch04_media/fish2.png
html/chapter04/ch04_media/fried_rice.png
html/chapter04/ch04_media/fried_rice1.jpg
html/chapter04/ch04_media/fried_rice2.jpg
html/chapter04/ch04_media/grapes.jpg
html/chapter04/ch04_media/hotdog.png
html/chapter04/ch04_media/ice_cream.png
html/chapter04/ch04_media/kababs.png
html/chapter04/ch04_media/kimbob.jpg
html/chapter04/ch04_media/kiwi.png
html/chapter04/ch04_media/lasagna.png
html/chapter04/ch04_media/lobster1.jpg
html/chapter04/ch04_media/lobster2.png
html/chapter04/ch04_media/mango.png
html/chapter04/ch04_media/milk.png
html/chapter04/ch04_media/orange.png
html/chapter04/ch04_media/pancakes.png
html/chapter04/ch04_media/pasta1.png
html/chapter04/ch04_media/pasta2.png
html/chapter04/ch04_media/pie.png
html/chapter04/ch04_media/pineapple.png
html/chapter04/ch04_media/pizza1.png
html/chapter04/ch04_media/pizza2.png
html/chapter04/ch04_media/popcorn.png
html/chapter04/ch04_media/pork_cutlet.jpg
html/chapter04/ch04_media/pretzel.png
html/chapter04/ch04_media/pudding.png
html/chapter04/ch04_media/quesadilla.png
html/chapter04/ch04_media/ramen.png
html/chapter04/ch04_media/salad.png
html/chapter04/ch04_media/salmon.png
html/chapter04/ch04_media/sandwich1.png
html/chapter04/ch04_media/sandwich2.png
html/chapter04/ch04_media/sausage.png
html/chapter04/ch04_media/shrimp1.png
html/chapter04/ch04_media/shrimp2.png
html/chapter04/ch04_media/squid_fry.jpg
html/chapter04/ch04_media/steak1.png
html/chapter04/ch04_media/steak2.png
html/chapter04/ch04_media/strawberry.png
html/chapter04/ch04_media/sushi1.png
html/chapter04/ch04_media/sushi2.jpg
html/chapter04/ch04_media/sushi3.png
html/chapter04/ch04_media/taco.png
html/chapter04/ch04_media/Thumbs.db
html/chapter04/ch04_media/tomato.png
html/chapter04/ch04_media/udong.png
html/chapter04/ch04_media/watermelon.png
html/chapter04/ch04_media/yogurt1.png
html/chapter04/ch04_media/yogurt2.png
