* {
    box-sizing: border-box;
}

body {
    width: 700px;
}

label {
    display: inline-block;
    width: 70px;
    text-align: center;
}

.div_content{
    display: flex;
    align-items: center;
    margin-left: 6px;
}

#title, #content{
    width: 250px;
    margin-bottom: 5px;
}
#submit_btn {
    position: relative;
    left: 21%;
    margin-top: 14px;;
}

table {
    border: 1px solid black;
}
th,td {
    border: 1px solid black;  
}

th {
    background-color: rgb(255, 160, 122);
    color: white;
}

#num { 
    width: 335px;
}